.todo__list-grid {
    height: 100%;
    display: grid;
    gap: 1.8rem;
    grid-template-columns: repeat(auto-fill, minmax(360px,1fr));
    grid-auto-rows: 1.3rem;
    z-index: 10;
    /* border: 1px solid red; */
}

.todo__list {
    /* grid-row-end: span 3; */
    /* width: 1fr; */
    background-color: var(--secondary1);
    padding: 1rem;
    border-radius: 1rem;
    z-index: 11;
    /* border: 1px solid red; */
}

.list__title {
    font-size: var(--size-2xl);
    display: block;
    word-wrap: break-word;
    cursor: pointer;
    margin-bottom: 1rem;
}

.item__title {
    display: block;
    word-wrap: break-word;
    cursor: pointer;
}

.todo__list-content {
    position: relative;
}

.todo__list-content ul { 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    list-style: none;
}

.todo__item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: start; */
    background-color: var(--secondary2);
    padding: 1rem;
    /* margin-block: 1rem; */
    border-radius: .4rem;
    /* border: 1px solid red; */
}

.todo__item p {
    font-size: var(--size-base);
    overflow: hidden;
    word-wrap: break-word;
    padding-right: 1rem;
}

.completed {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--accent);
    border: 1px solid var(--secondary3);
    border-radius: .2rem;
}

.not-completed {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--secondary1);
    border: 1px solid var(--secondary3);
    border-radius: .2rem;
}

.editcard {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* display: flex; */
    background-color: var(--primary3);
    border-radius: 1rem;
    padding: 1rem;
    z-index: 888;
}

/* .editText {
    display: block;
    overflow: auto;
    word-wrap: break-word;
} */
/* 
.item-input input[type=text] {
    width: 20ch;
    background-color: var(--accent);
    color: var(--text);
    border: 1px solid red;
    border-radius: .3rem;
    padding: .5rem 1rem;
} */

.item__create {
    display: flex;
    gap: 1rem;
    padding-block: .5rem;
    z-index: 20;
}


.list__create {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--accent);
    padding: 1rem;
    border-radius: 1rem;
}

.list__create input[type=text] {
    width: 100%;
    background-color: var(--accent);
    color: var(--background);
    font-weight: 600;
    /* border: 1px solid red; */
    border-radius: .2rem;
    padding: .5rem 1rem;
}

textarea {
    width: 100%;
    color: var(--accent);
    resize: none;
    overflow: hidden;
    background-color: transparent;
    border: 0px;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .list__title {
        font-size: var(--size-3xl);
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .list__title {
        font-size: var(--size-4xl);
    }
    .todo__item p {
        font-size: var(--size-lg);
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */