{% extends "main.html" %}
{% block title %} About TODOS {% endblock %}
{% block content %}
    <div class="about__content">
        <div class="about">
            <h1 class="about__title">About the <strong>TODOS</strong> project</h1>
            <p class="about__description">
                <h4>Hi there!👋</h4>
                My name is Creo and I'm excited to introduce my First Fully Functional web application - a simple yet multifunctional Todo List app with some <strong>interesting additions</strong>. 
                <br><br> I designed this app with versatility in mind, allowing users to utilize it in <strong>unconventional ways</strong>. 
                <br><br> I hope you'll find it useful and enjoyable to use! 🤞
            </p>
        </div>
        <div class="docs" data-tilt data-tilt-reverse="true" data-tilt-scale="1.01" data-tilt-max="1" data-tilt-speed="800" data-tilt-perspective="500">
            <h2 class="docs__title">Docs:</h2>
            <div class="docs__description">
                <h4>What should you do with this?</h4>
                <p> > Create different Todo Lists</p>
                <p> > Customize and edit them</p>
                <p> > Organize or randomize list order (work in progress)</p>
                <p> > Enrich them with Your Goals & Tasks</p>
                <p> > Fulfill them!</p>
                <p> > Add images (work in progress)</p>
                <h4>What can you do with this?</h4>
                <p> > Manage Projects</p>
                <p> > Brainstorm Ideas</p>
                <p> > Store Information</p>
                <p> > Go Writing</p>
            </div>
        </div>
    </div>
{% endblock %}