<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'static.html' %}
    <title>{% block title %}TODOS{% endblock %}</title>
</head>
<body>
    {% include "header.html"%}
    <main class="container section">
        {% block content %}
            {% if not current_user.is_authenticated %}
                {% include 'landing.html' %}
            {% endif %}
        {% endblock %}
    </main>
    <div class="alert__conteiner">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div class="alert error"  onclick="dissappear(event)" role="alert">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert success"  onclick="dissappear(event)" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <footer class="footer container section">
        <div class="footer__divider"></div>
            <h3 class="footer__title">Let's connect!</h3>
            <div class="contact">
                <div>
                    <p><a href="https://www.instagram.com/creomaster_official/" target="_blank">Instagram</a></p>
                    <p><a href="https://www.youtube.com/creomaster1202" target="_blank">Youtube</a></p>
                    <p><a href="https://www.pinterest.com/creomaster1203/" target="_blank">Pinterest</a></p>
                </div>
                <div>
                    <p><a href="https://t.me/ZSunnatulla" target="_blank">Telegram</a></p>
                    <p><a href="https://twitter.com/CREOMASTER1203" target="_blank">Twitter</a></p>
                    <p><a href="">GitHub</a></p>
                </div>
            </div>
            <div class="suggestions">
                <p>Feedback? Suggestions? Features you'd like to see? <a class="contact__link" href="mailto:sunnatullazayniddinov@gmail.com" target="_blank">Contact me!</a></p>
                <p>Made by <a href="https://twitter.com/CREOMASTER1203" target="_blank">@creomaster1203</a></p>
            </div>
    </footer>
</body>
</html>