{% extends "main.html" %}
{% block content %}

    <ul id="lists">
        {% for list in lists %}
            <li data-id="{{ list.id }}">
                <h2>{{ list.name }}</h2>
                <ul class="items">
                    {% for item in list.items %}
                        <li>{{ item.description }}</li>
                    {% endfor %}
                </ul>
                <form class="add-item-form">
                    <input type="text" name="description" placeholder="Item description">
                    <button type="submit">Add Item</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    
    <form id="add-list-form">
        <input type="text" name="name" placeholder="List name">
        <button type="submit">Add List</button>
    </form>

{% endblock %}
